<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head">
</head>

<body style="background : white;">

    <div id="wrapper">

        <!-- Navigation -->
        <div th:replace="layout :: nav"></div>
      </div> 
      
        <div id="page-wrapper">
			<div class="row">
				 <div class="col-lg-2">
                	</div>		
				
                 <div class="col-lg-8">
                    <div class="container">
		  	<h2 class="page-header">Daftar Pengajuan Dana</h2>
		
		    	<div th:if="${not #lists.isEmpty(allProposal)}">
					<table class="table table-striped">
					  	<tr>
					  		<th>Subjek</th>
					  		<th>Deskripsi</th>
					  		<th>File</th>
					  		<th>Status</th>
					  		<th>Aksi</th>
					  		<th>Validation</th>
					  	</tr>
					  	<tr th:each="proposals : ${allProposal}" th:if="${proposals.status_terima=='pending'} and ${proposals.status=='accepted'}">
					  		<td th:text="${proposals.subjek_pengajuan_dana}"></td>
					  		<td th:text="${proposals.deskripsi_pengajuan_dana}"></td>
					  		<td><a th:href="${'/file/pengajuan_dana/'+proposals.file_pengajuan}" th:text="${proposals.deskripsi_pengajuan_dana}"></a></td>					  				
					  		<td th:text="${proposals.status}"></td>					  		
					  		<td>
					  			<a th:href="${'/proposal/'+proposals.id}" class="btn btn-primary">Lihat</a>
					  		</td>
					  		<td th:if="${proposals.status=='accepted'}">
					  			<a th:href="${'/proposal/terima/'+proposals.id}" class="btn btn-primary" style="background-color: #4CAF50;">Terima</a>
					  		</td>
					  	</tr>
					  			
					</table>
							
				</div>
			
		</div>
                  </div>
             </div><br/>
            
      </div>
 
 	<!-- jQuery -->
    <div th:replace="layout :: script"></div>
 </body>
 </html>